<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand hr_img" href="#">
            <img src="../../content/images/1.png">
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right upper_right_menu">
            <li><a href="#"><img src="https://img.icons8.com/material-two-tone/28/000000/bell.png"></a></li>
            <li><a href="#"><img src="https://img.icons8.com/color/28/000000/settings.png"></a></li>
            <li><a href="#"><img src="https://img.icons8.com/color/28/000000/name.png"> James Smith</a></li>
        </ul>
    </div>
</div>
