<div class="col-lg-10">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">Logo</a> -->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li style="background-color: rgb(0, 178, 169);"><a href="#" style="color: rgb(255, 255, 255);">Dashboard</a></li>
                    <li><a href="#">Sourcing</a></li>
                    <li><a href="#">Candidates</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Job Setup</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul> -->
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="dc_col_wrapper col-lg-8 ">
            <div class="dc_col_content">
                <div class="dc_col_head">
                    <div class="row">
                        <div class="col-sm-8 clients_place_wrapper">
                            <div class="clients_place_content">
                                <h4>Where are your candidates coming from?</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 all_active_wrapper">
                            <div class="all_active_content">
                                <span class="all_text">All</span>
                                <span class="all_active_separator">|</span>
                                <span class="active_text">Active</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dc_col_body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dcb_col1_content">
                                <ul class="cbc1_list">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>4</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Referrals</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>38</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Job Pages</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>10</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>LinkedIn Inmails</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>6</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Zip Recruiter</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>20</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Indeed</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="dcb_col2_content">
                                <ul class="cbc2_list">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>2</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>LinkedIn Job Board</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>38</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>LinkedIn Prosspecting</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>10</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>AngelList</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>124</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Meetups/Events</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <strong>20</strong>
                                            </div>
                                            <div class="col-xs-10">
                                                <span>Glassdoor</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="dcb_col3_content">
                                <!--<div class="dcb3_img_wrapper" style="background-image: url(images/styled-mode-pie-default.png);">-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dc_col_footer">
                    <div class="row">
                        <div class="col-sm-8 prediction_wrapper">
                            <div class="prediction_content">
                                <h5>We predict about 3 of these candidates will make it past Take home test </h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="how_wrapper">
                                <a href="#" class="how_text">How?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 sidenav pipeline_wrapper text-left">
            <strong>Pipeline</strong>
            <div class="pipeline_content">
                <ul class="pipeline_list">
                    <li>
                        <span class="pipeline_left_text">Job Posted</span>
                        <span class="pipeline_right_text">6</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Prospects</span>
                        <span class="pipeline_right_text">25</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Application Review</span>
                        <span class="pipeline_right_text">40</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Personality Test</span>
                        <span class="pipeline_right_text">6</span>
                    </li>

                    <li>
                        <span class="pipeline_left_text">Phone Interview</span>
                        <span class="pipeline_right_text">18</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Take Home Test</span>
                        <span class="pipeline_right_text">4</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Face to Face</span>
                        <span class="pipeline_right_text">1</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Reference check</span>
                        <span class="pipeline_right_text">0</span>
                    </li>
                    <li>
                        <span class="pipeline_left_text">Hire</span>
                        <span class="pipeline_right_text">2</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
